/* Importa la fuente Creepster de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

/* Establece el fondo de la página y su índice z */
html {
  background: url(/sources/img/fondo.jpeg);
  z-index: 999;
}

/* Estilos para el título */
.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 50%;
  height: auto;
}

/* Estilos para la barra lateral */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 15vw;
}

/* Estilos para las etiquetas */
.label {
  margin: auto;
  margin-bottom: -20px;
  text-align: center;
  color: rgb(240, 10, 10);
  font-family: Creepster;
  font-size: 37px;
  height: 10%;
  position: relative;
}

/* Estilos para el número de plantas */
#numPlantas {
  background-color: red;
  width: 2.5rem;
  color: #ffffff;
  position: relative;
  font-size: 1.5rem;
  margin: auto;
}

/* Estilos para el contenedor */
.contenedor {
  position: relative;
  display: flex;
  justify-content: space-around;
}

/* Estilos para el invernadero */
#invernadero {
  background: rgba(66, 65, 65, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.445);
  position: a;
  height: 72vh;
  width: 65vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Estilos para las plantas en el invernadero */
#invernadero .planta {
  position: relative;
  align-content: flex-end;
  justify-content: space-around;
  bottom: 0;
  width: 10rem;
  height: 10rem;
  transition: all 3s;
  margin: 20px;
}

/* Estilos para los elementos ocultos */
.oculto {
  display: none;
}

/* Estilos para las tarjetas de las plantas */
.card {
  background: rgba(66, 65, 65, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  color: rgb(252, 252, 252);
  display: flex;
  margin-right: 20px;
}

/* Estilos para las imágenes en las tarjetas de las plantas */
.card img {
  margin: auto;
  width: 90px;
  height: 70px;
}

/* Estilos para los botones */
button {
  margin: auto;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 27px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 1.5s ease;
  user-select: none;
}

/* Estilos para el botón "replantar" cuando se pasa el ratón por encima */
#replantar:hover {
  color: #ffffff;
  background: #1eff00;
  border: 1px solid #1eff00;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #00ff88, 0 0 20px #33ff00, 0 0 50px #5eff00,
    0 0 100px #00ffff;
}

/* Estilos para el botón "iniciar" cuando se pasa el ratón por encima */
#iniciar:hover {
  color: #ffffff;
  background: #ff1e00;
  border: 1px solid #ff6600;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #ff3300, 0 0 20px #ffa600, 0 0 50px #ffee00,
    0 0 100px #eeff00;
}
