html{
    background: url(/sources/img/fondo.jpeg);
    z-index: 999;

}
.sidebar{
    display: flex;
}
.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.contenedor{
    display: flex;
    justify-content: space-between;
}
.label{
    color: rgb(240, 10, 10);
    font-family: ;
}

#invernadero {
    background: rgba( 66, 65, 65, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
    height: 70vh;
    width: 60vw;
    margin: 20px;
    display: flex; 
    justify-content: space-around; 
    align-items: flex-end; 
}

#invernadero .planta {
    position: relative;
    align-content: flex-end;
    justify-content: space-around;
    bottom: 0;
    width: 150px;
    height: 150px;
    transition: all 2s;
    margin-right: 20px; 
}
  
.oculto {
    display: none;
}
.card {
    background: rgba( 66, 65, 65, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: block;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    color: rgb(252, 252, 252);
    display: flex;
    margin-right: 20px;
}
.card img {
    width:80px;
    height: 80px;
}
button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #iniciar:hover,:focus {
    color: #ffffff;
    background: #1eff00;
    border: 1px solid #48ff00;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #00ff88,
                0 0 20px #33ff00,
                0 0 50px #5eff00,
                0 0 100px #00ffff;
  }